@import 'normalize.css';
@import 'fonts.css';
a {
  text-decoration: none;
  color: #000;
  border-bottom: 1px solid #000;
}
a:hover,
a a:active,
a a:visited {
  color: #000;
}
span,
h1 {
  text-transform: uppercase;
}
h1 {
  font-size: 20pt;
  font-weight: normal;
}
i {
  display: inline-block;
  width: 35px;
  height: 35px;
  margin-left: 10px;
}
i.facebook_icon {
  background: url("../images/facebook_icon.png") center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
i.twitter_icon {
  background: url("../images/twitter_icon.png") center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
i.instagram_icon {
  background: url("../images/instagram_icon.png") center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
p {
  font-size: 14pt;
  line-height: 1.2;
}
hr {
  clear: both;
  width: 90%;
  margin: 0 auto 20px auto;
  display: block;
  border: 0;
  border-top: 1px solid #d2d2d2;
}
body {
  font-family: Trade_Gothic;
  background-color: #d2d2d2;
}
body #leaderboard {
  max-width: 728px;
  height: 90px;
  background-color: #969696;
  margin: auto;
}
body #logo {
  height: 100px;
  background: url("../images/logo.png") center no-repeat;
}
body #main {
  background-color: #fff;
  width: 100%;
}
body #main nav {
  background-color: #000;
  color: #fff;
  height: 50px;
  text-transform: uppercase;
  text-align: center;
}
body #main nav ul {
  margin: 0;
  padding: 0;
}
body #main nav ul li {
  display: inline-block;
  font-size: 17pt;
  padding: 15px 20px;
}
body #main .main-content {
  overflow: hidden;
}
body #main .main-content .photo {
  display: none;
}
body #main .main-content .intro {
  position: relative;
  text-align: center;
  padding: 5%;
  background: url("../images/240_01_036.jpg") no-repeat;
  background-position: 50% -100px;
}
body #main .main-content .intro .intro-block {
  background-color: rgba(255,255,255,0.6);
}
body #main .main-content .intro img {
  width: 250px;
}
body #main .main-content .intro form {
  margin: auto;
  overflow: hidden;
  line-height: 1.2;
}
body #main .main-content .intro form label {
  display: block;
  width: 100%;
}
body #main .main-content .intro form input {
  width: 80%;
}
body #main .main-content .intro form .check-terms {
  line-height: 2;
  display: block;
  width: 100%;
}
body #main .main-content .intro form .check-terms label {
  display: initial;
  width: initial;
}
body #main .main-content .intro form .check-terms input {
  width: initial;
  margin-left: 5px;
}
body #main .main-content .intro form button {
  line-height: 3;
  margin-top: 20px;
  display: block;
  clear: both;
  width: 100%;
  background-color: #000;
  color: #fff;
  border: 0;
  font-family: Trade_Gothic;
}
body #main .section {
  background-color: #ededed;
  overflow: hidden;
  padding: 0 5%;
}
body #main .section .over-and-social img {
  display: block;
  width: 100%;
  max-width: 315px;
  margin: 0 auto;
}
body #main .section .over-and-social span {
  display: block;
  line-height: 7;
  margin: 0 auto;
  text-align: center;
}
body #main .section.news {
  padding: 2% 5% 5% 5%;
}
body #main .section.news img {
  float: left;
  padding-right: 5%;
}
body #main .section.news h1 {
  margin: 0;
}
body #main footer {
  background-color: #d2d2d2;
  text-align: center;
  line-height: 4;
  font-size: 10pt;
}
@media (min-width: 992px) {
  body #main {
    width: 95%;
    margin: auto;
  }
  body #main .main-content {
    -webkit-border-radius: 33% 0 0 0;
    border-radius: 33% 0 0 0;
    overflow: hidden;
    background-color: #ededed;
  }
  body #main .main-content .photo {
    position: initial;
    display: block;
    float: left;
    width: 65%;
    height: 840px;
    -webkit-border-radius: 0 0 33% 0;
    border-radius: 0 0 33% 0;
    background: url("../images/240_01_036.jpg") no-repeat;
    background-position: 50% 0;
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  body #main .main-content .intro {
    background: none;
    background-color: #ededed;
    float: left;
    width: 25%;
    padding: 5%;
  }
  body #main .main-content .intro .intro-block {
    background-color: inherit;
  }
  body #main .main-content .intro img {
    width: 100%;
    margin-bottom: 20px;
  }
  body #main .main-content .intro p {
    line-height: 1.5;
  }
  body #main .main-content .intro p.escapism-description {
    margin: 2em 0 5em 0;
  }
  body #main .main-content .intro form label {
    display: block;
    float: left;
    clear: left;
    width: 35%;
    text-align: left;
    line-height: 2;
  }
  body #main .main-content .intro form input {
    float: left;
    width: 60%;
  }
  body #main .main-content .intro form input[type="radio"] {
    margin: 7px 0 0 5px;
  }
  body #main .main-content .intro form button {
    padding: 5% 0;
    line-height: 1;
    display: initial;
  }
  body #main .section {
    padding: 0;
    border-bottom: 1px;
  }
  body #main .section .description {
    float: left;
    width: 55%;
    padding: 0 5%;
  }
  body #main .section .over-and-social {
    float: left;
    width: 30%;
  }
  body #main .section.news {
    padding-bottom: 2%;
  }
}
